[project]
	description = vlc clone from git://git.videolan.org/vlc.git
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/manavmittl
[access "refs/for/refs/*"]
	read = group user/manavmittl
	push = group user/manavmittl
	label-Code-Review = -2..+2 group user/manavmittl
	label-Verified = -1..+1 group user/manavmittl
	rebase = group user/manavmittl
	removeReviewer = group user/manavmittl
	submit = group user/manavmittl
[access "refs/heads/*"]
	read = group user/manavmittl
	create = group user/manavmittl
	push = +force group user/manavmittl
	pushMerge = group user/manavmittl
[access "refs/tags/*"]
	push = +force group user/manavmittl
	pushTag = group user/manavmittl
	pushSignedTag = group user/manavmittl
